{% if list %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-info">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                    {% for f in docs %}
                        <tr id="attach-file-{{ f.id }}">
                            <td>
                                <a target="_blank" href="{{ path('lle_attachment_download',{id:f.id}) }}"><i class="fa fa-2x fa-file-o"></i> {{ f.filename }} </a>
                            </td>
                            <td style="vertical-align: middle;">
                                <div>
                                    <span>{{ 'history.action.create'|trans({}, 'EasyAdminPlusBundle') }} {{ f.createdBy }}</span>
                                    <br><span>{{ 'blame.created_at'|trans({}, 'EasyAdminPlusBundle') }} {{ f.createdAt|date('d/m/Y') }}</span>
                                </div>
                            </td>
                            <td>
                                <nav class="nav nav-list">
                                    <a class="btn btn-info"  target="_blank" href="{{ path('lle_attachment_download',{id:f.id}) }}"><i class="fa fa-download"></i></a>
                                    <form style="display: inline" method="post" action="{{ path('lle_attachment_delete',{id:f.id}) }}">
                                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                    </form>
                                </nav>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                {{ render_attachment(entity) }}
            </div>
        </div>
    </div>
</div>
{%  else %}
    {{ render_attachment(entity) }}
{%  endif %}